---
layout: default
title: Project Spatula - Search Page
---
{% include header_loggedin.html %}
<div class="content-container">
  {% for item in (1..4) %}
  <div class="row">
    <div class="small-12 columns">
      {% include search_header.html %}
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        {% for item in (1..4) %}
          <li class="grid-item">
            {% include search_item.html %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>