<form class="row">
  <div class="medium-2 columns"><input type="text" placeholder="Name"></div>
  <div class="medium-2 columns"><input type="text" placeholder="Highest Price"></div>
  <div class="medium-2 columns">
    <div class="row collapse">
      <div class="small-8 columns"><input type="text" placeholder="Ending In"></div>
      <div class="small-4 columns"><span class="postfix">hours</span></div>
    </div>
  </div>
  <div class="medium-2 columns">
    <select>
      <option value="select-1">Sort By</option>
      <option value="select-2">Option 2</option>
      <option value="select-3">Option 3</option>
      <option value="select-4">Option 4</option>
    </select>
  </div>
  <div class="medium-2 columns right"><input type="submit" value="Go" class="button"></div>
</form>